<p-toolbar>
  <div class="p-toolbar-group-left">
  </div>

  <div class="p-toolbar-group-right">
    <input type="text" pInputText placeholder="Search">
    <p-button icon="pi pi-search" class="p-xl-1"></p-button>
    <p-button label="Cart" icon="pi pi-shopping-cart" class="p-xl-3"></p-button>

    <button class="btn btn-success " routerLink="/signin" routerLinkActive="active">Sign In</button>
    <p-button label="Sign Up" icon="pi pi-sign-in" class="p-xl-1 " routerLink="/signup" routerLinkActive="active"></p-button>

  </div>
</p-toolbar>
