<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">Search</button>
      <button class="btn btn-outline-warning " (click)="signOut()">Sign Out</button>

    </form>
  </div>
</nav>

<!--<p-toolbar>-->
<!--  <div class="p-toolbar-group-left">-->
<!--  </div>-->

<!--  <div class="p-toolbar-group-right">-->

<!--    <input type="text" pInputText placeholder="Search">-->
<!--    <p-button icon="pi pi-search" class="p-xl-1"></p-button>-->
<!--    <p-button label="Cart" icon="pi pi-shopping-cart" class="p-xl-3"></p-button>-->

<!--    <ng-template [ngIf]="authService.isAuthenticated()" >-->
<!--      <button class="btn btn-success " routerLink="/signin" routerLinkActive="active">Sign In</button>-->
<!--      <p-button label="Sign Up" icon="pi pi-sign-in" class="p-xl-1 " routerLink="/signup" routerLinkActive="active"></p-button>-->
<!--    </ng-template>-->

<!--  </div>-->
<!--</p-toolbar>-->
