<div class="background">
  <button (click)="showSddItem()" pButton pRipple type="button" icon="pi pi-plus"
          class="p-button-rounded p-button-warning add-button"></button>
  <p-dialog header="Add Item" [(visible)]="displayAddItem" [style]="{width: '450px'}" [baseZIndex]="10000">
    <div class="add-item-form">
      <form [formGroup]="form" (ngSubmit)="addItem()">
        <p class="lead">Here you can add item to your store</p>

        <div class="form-group">
          <label for="title">Title</label><br>
          <input id="title" type="text" aria-describedby="title-help"
                 class="ng-invalid ng-dirty width-input form-control"
                 pInputText formControlName="title" placeholder="text"
                 [(ngModel)]="title"/>
          <small id="title-help" class="p-error"></small>
        </div>

        <div class="form-group">
          <label for="cover">Cover Image</label><br>
          <input id="cover" type="text" aria-describedby="cover-help"
                 class="ng-invalid ng-dirty width-input form-control"
                 pInputText placeholder="Link" formControlName="cover"
                 [(ngModel)]="cover"/>
          <small id="cover-help" class="p-error"></small>
        </div>

        <div class="p-field">

        <span class="p-float-label">
          <textarea [(ngModel)]="description" id="description" rows="2" cols="51" pInputTextarea autoResize="autoResize"
                    formControlName="description"></textarea>
          <label for="description">Item Description</label>
        </span>
        </div>


        <div class=" p-field">
          <label for="price">Price</label><br>
          <p-inputNumber formControlName="price" [(ngModel)]="price" [showButtons]="true" id="price" mode="currency"
                         currency="USD">
          </p-inputNumber>
        </div>

        <div class="form-group">
          <label for="category">Item Category</label><br>
          <p-dropdown id="category" [options]="categories" [(ngModel)]="selectedCategory"
                      placeholder="Select item category"
                      [showClear]="true" formControlName="category"></p-dropdown>
        </div>

        <div class="form-group">
          <label for="stock">Items In Stock</label><br>
          <p-inputNumber [(ngModel)]="itemsInStock" mode="decimal" id="stock" [useGrouping]="false" placeholder="0"
                         formControlName="itemsInStock">
          </p-inputNumber>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg">Add Item</button>
        </div>
      </form>
    </div>
  </p-dialog>

  <div class="item-data-view">
    <p-dataView [value]="items" [sortField]="sortField" [sortOrder]="sortOrder" [paginator]="true" [rows]="3" filterBy="name">
      <ng-template pTemplate="header" class="parent">
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                      (onChange)="onSortChange($event)" [style]="{'min-width':'15em'}"></p-dropdown>
          <span class="p-input-icon-left p-mb-2 p-mb-md-0">
           <i class="pi pi-search"></i>
           <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
         </span>
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="listItem">
        <div class="p-col-12">
          <div class="product-list-item">
            <img [src]="item?.imgPath" [alt]="item?.title" style="width: 150px; height: 130px "/>
            <div class="product-grid-list-detail">
              <div class="product-name">{{item?.title}}</div>
              <div class="product-description">{{item?.description}}</div>
              <p-rating [ngModel]="item?.rate" [readonly]="true" [cancel]="false"></p-rating>
              <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{item?.category}}</span>
            </div>
            <div class="product-grid-list-action">
              <span class="product-price">${{item?.price}}</span>
              <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="item?.inventoryStatus === 'OUTOFSTOCK'"></p-button>
              <span [class]="'product-badge' ">{{item?.inventoryStatus}}</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="gridItem">
        <div class="p-col-12 p-md-4">
          <div class="product-grid-item card">
            <div class="product-grid-item-top">
              <div>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="product-category">{{item?.category}}</span>
              </div>
              <span [class]="'product-badge '">{{item?.itemsInStock}}</span>
            </div>
            <div class="product-grid-item-content">
              <img [src]="item?.imgPath" [alt]="item?.title"/>
              <div class="product-name">{{item?.title}}</div>
              <div class="product-description">{{item?.description}}</div>
              <p-rating [ngModel]="item?.rate" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="product-grid-item-bottom">
              <span class="product-price">${{item?.price}}</span>
              <p-button icon="pi pi-shopping-cart" [disabled]="item?.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <!--      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>-->
      </ng-template>
    </p-dataView>
  </div>
</div>
