<body>
<div class="add-item-form">
  <form [formGroup]="form" (ngSubmit)="addItem()">
    <h2>Add Item</h2>
    <p class="lead">Here you can add item to your store</p>

    <div class="form-group">
      <label for="title">Title</label><br>
      <input id="title" type="text" aria-describedby="title-help" class="ng-invalid ng-dirty width-input form-control"
             pInputText formControlName="title"/>
      <small id="title-help" class="p-error"></small>
    </div>

    <div class="form-group">
      <label for="cover">Cover Image</label><br>
      <input id="cover" type="text" aria-describedby="cover-help" class="ng-invalid ng-dirty width-input form-control"
             pInputText placeholder="Link" formControlName="cover"/>
      <small id="cover-help" class="p-error"></small>
    </div>

    <div class="form-group">
      <label for="price">Price</label><br>
        <input id="price" type="number" aria-describedby="price-help" class="ng-invalid ng-dirty width-input form-control"
               pInputText placeholder="$" formControlName="price"/>

      <small id="price-help" class="p-error"></small>
    </div>

    <div class="form-group">
    <span class="p-float-label">
      <textarea id="description" rows="2" cols="42" pInputTextarea autoResize="autoResize" formControlName="description"></textarea>
      <label for="description">Item Description</label>
    </span>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Add Item</button>
    </div>
    <p class="small text-center">By clicking the Add Item button, you agree to our Terms Conditions, and Privacy
      Policy.</p>
  </form>
</div>
</body>
