<body>
<div class="add-item-form">
  <form [formGroup]="form" (ngSubmit)="addItem()">
    <h2>Add Item</h2>
    <p class="lead">Here you can add item to your store</p>

    <div class="form-group">
      <label for="title">Title</label><br>
      <input id="title" type="text" aria-describedby="title-help" class="ng-invalid ng-dirty width-input form-control"
             pInputText formControlName="title" placeholder="text"/>
      <small id="title-help" class="p-error"></small>
    </div>

    <div class="form-group">
      <label for="cover">Cover Image</label><br>
      <input id="cover" type="text" aria-describedby="cover-help" class="ng-invalid ng-dirty width-input form-control"
             pInputText placeholder="Link" formControlName="cover"/>
      <small id="cover-help" class="p-error"></small>
    </div>
    <br>
    <div class="">
    <span class="p-float-label">
      <textarea id="description" rows="2" cols="42" pInputTextarea autoResize="autoResize"
                formControlName="description"></textarea>
      <label for="description">Item Description</label>
    </span>
    </div>

    <div class=" p-field">
      <label for="price">Price</label><br>
      <p-inputNumber formControlName="price" [(ngModel)]="price" [showButtons]="true" id="price" mode="currency"
                     currency="USD">
      </p-inputNumber>
    </div>

    <div class="form-group">
      <label for="category">Item Category</label><br>
      <p-dropdown id="category" [options]="categories" [(ngModel)]="selectedCategory" placeholder="Select item category"
                  [showClear]="true" formControlName="category"></p-dropdown>
    </div>

    <div class="form-group">
      <label for="stock">Items In Stock</label><br>
      <p-inputNumber [(ngModel)]="itemsInStock" mode="decimal" id="stock" [useGrouping]="false" placeholder="0"
                     formControlName="itemsInStock">
      </p-inputNumber>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Add Item</button>
    </div>
    <p class="small text-center">By clicking the Add Item button, you agree to our Terms Conditions, and Privacy
      Policy.</p>
  </form>
</div>
</body>
